html,
body {
  height: 100%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

.navnboks,
.emailboks,
.medlemsskab,
.besked {
  background-image: url(/billeder/tilmeldboks1.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 90%;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding-top: 25px;
  padding-left: 50px;
  margin-bottom: 15px;
  font-family: 'Fira Sans', sans-serif;
}

.besked {
  background-image: url(/billeder/beskedtilmeldboks.webp);
  height: 200px;
}

.medlemsskab img {
  width: 20px;
  height: 20px;
  margin-left: 50%;
}

.medlemsskab {
  display: flex;
}

.tekstboks {
  background-image: url(/billeder/tekstbokstilmeld.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 90%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.tekstboks p {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  padding: 40px 110px 0px 30px;
  max-width: 450px;
}

.tilmeldknap {
  color: red;
  border: red 5px solid;
  width: 90%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
  font-family: 'Gabarito', sans-serif;
  text-transform: uppercase;
  padding-top: 2px;
  font-size: xx-large;
}

.tilmeldknap:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.tilmeldknap:active {
  background-color: darkred;
  color: white;
}

.tilmeldinfo {
  margin-left: 25px;
  margin-right: 25px;
  max-width: 600px;
  margin-bottom: 50px;
  margin-top: 40px;
  font-family: 'Fira Sans', sans-serif;
}

@media screen and (min-width: 575px) {
  .navnboks,
  .emailboks,
  .medlemsskab,
  .besked {
    padding-left: 130px;
  }
}

@media screen and (min-width: 750px) {
  .tilmeldinfo {
    margin-left: auto;
    margin-right: auto;
  }

  .navnboks,
  .emailboks,
  .medlemsskab,
  .besked {
    padding-left: 70px;
  }

  .gridtilmeld {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
