---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Anbefaling from '../components/Anbefaling.astro';
import '../styles/style.css';
import '../styles/fellesskab.css';
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gabarito:wght@400..900&display=swap"
      rel="stylesheet"
    />

    <title>Fælleskabet</title>
  </head>
  <body>
    <main>
      <Header />
      <h1>FÆLLESSKAB</h1>
      <hr />
      <div class="hero">
        <img src="/public/billeder/fellesskabhero.png" alt="heroimg" />
      </div>
      <div class="startfelles">
        <div>
          <h2>HVAD ER GOSPEL?</h2>
          <img class="vector" src="/public/billeder/vectorsort.svg" alt="vector" />
          <p class="fellesp">
            Du er kommet til det helt rigtige sted, hvis du har lyst til at synge gospel. I korene
            fokuserer vi på energi, glæde, fortolkning og indlevelse. Det frigør en dybtliggende
            glæde og musikalitet som er helt unik. Hver gang vi synger gospel sammen sker der noget!
            Når gospelmusikken rammer os sker der noget! Når vi giver slip og lader os rive med sker
            der noget! Når vi glemmer alt om musik og bare synger GOSPEL… ja, så ER det bare det
            bedste sted at være i hele verden!
          </p>
          <p class="fellesp">Gospel giver en fantastisk energi og glæde!!</p>
        </div>
        <div>
          <h2>HVEM KAN VÆRE MED TIL GOSPEL?</h2>
          <img class="vector" src="/public/billeder/vectorsort.svg" alt="vector" />
          <p class="fellesp">
            ALLE kan være med! Gospel er en inkluderende musikgenre! Gospel har ikke noget at gøre
            med hvem der synger bedst... Gospel handler om udtryk, indlevelse, energi, glæde, smerte
            - med andre ord: gospel er SOUL musik. Derfor giver det ikke mening at bedømme gospel
            udelukkende ud fra en musikalsk vinkel. Og derfor opsætter jeg heller ikke en række
            kriterier som du skal opfylde for at kunne være med!! Det er lige meget om du kan noder
            eller om du har korerfaring. Der er ingen optagelsesprøve. Du er velkommen! Der kan være
            mange grunde til at synge gospel. Nogle synger fordi de elsker musikken. Andre fordi de
            tror på Gud. For nogle er det en blanding... eller noget helt andet?
          </p>
        </div>
      </div>
      <div class="billederullen">
        <div class="billederulle">
          <img src="/public/billeder/rulle1.png" alt="rulle1" />
          <img src="/public/billeder/rulle2.png" alt="rulle2" />
          <img src="/public/billeder/rulle3.png" alt="rulle3" />
          <img src="/public/billeder/rulle4.png" alt="rulle4" />
          <img src="/public/billeder/rulle5.png" alt="rulle5" />
          <img src="/public/billeder/rulle6.png" alt="rulle6" />
        </div>
      </div>
      <div class="odas">
        <h2>OVERVEJER DU AT STARTE?</h2>
        <img class="vector" src="/public/billeder/vectorsort.svg" alt="vector" />
        <p class="fellesp">
          Hvis du har lyst til at synge med et par gange før du tilmelder dig er du MEGET velkommen
          til det! Det er helt fair lige at se koret an før du beslutter dig.  Herunder kan du se
          udtalelser fra folk der har haft en god oplevelse med vores hold, og hvad det har betydet
          for dem.
        </p>
      </div>
      <div class="anbefalinger">
        <Anbefaling
          navn="Agnete Emborg"
          alder="25 år"
          link="https://www.gospelnet.dk/artikler/gospel-giver-faellesskabsfoelelse/"
          anbimg="/public/billeder/anbefaling1.png"
          udtalelse="Jeg kom her sidste sæson uden at kende nogen overhovedet. Men lige så snart jeg kom ind, skulle man hilse på andre, og fortælle sit navn – dét synes jeg var fint"
          overskrift="Gospel giver fællesskabsfølelse"
        />
        <Anbefaling
          navn="Johanne Burkhave"
          alder="20 år"
          link="https://www.gospelnet.dk/artikler/gospel-giver-overskud/"
          anbimg="/public/billeder/anbefaling2.png"
          udtalelse="Gospel giver energi, overskud og glæde. Jeg læser bedst om tirsdagen, når jeg kommer hjem fra gospel."
          overskrift="Gospel giver overskud til læsningen"
        />
        <Anbefaling
          navn="Martin Køhler "
          alder="36 år"
          link="https://www.gospelnet.dk/artikler/kraft-og-styrke-i-at-synge/"
          anbimg="/public/billeder/anbefaling3.png"
          udtalelse="Det gør noget helt særligt at synge gospel - og dét at synge i det hele taget.  Det er en måde at udtrykke sig på. Jeg får fat i nogle følelser, som jeg ikke ellers udtrykker."
          overskrift="Der er kraft og styrke i at synge"
        />
        <Anbefaling
          navn="Lotte Nielsen"
          alder="49 år"
          link="https://www.gospelnet.dk/artikler/gospel-samler/"
          anbimg="/public/billeder/anbefaling4.png"
          udtalelse="Det er helt vidunderligt. Jeg bliver fuldstændig fyldt op af at synge Gospel."
          overskrift="Gospel samler folk på tværs af skel"
        />
      </div>
      <div class="hero">
        <img src="/public/billeder/slutherofellesskab.png" alt="heroimg" />
      </div>
      <Footer />
    </main>
  </body>
</html>
