---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Anbefaling from '../components/Anbefaling.astro';
import '../styles/style.css';
import '../styles/fellesskab.css';
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gabarito:wght@400..900&display=swap"
      rel="stylesheet"
    />

    <title>Fælleskabet</title>
  </head>
  <body>
    <main>
      <Header />
      <h1>FÆLLESSKAB</h1>
      <hr />
      <div class="hero">
        <img src="/src/billeder/fellesskabhero.png" alt="heroimg" />
      </div>
      <div class="startfelles">
        <div>
          <h2>HVAD ER GOSPEL?</h2>
          <img class="vector" src="/src/billeder/vectorsort.svg" alt="vector" />
          <p class="fellesp">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero blanditiis laborum ad
            aliquam in tenetur dolore sint accusamus saepe autem cumque ex eum asperiores nihil,
            unde consectetur iure rem ut. Eaque eos sunt atque, reiciendis ipsa qui nesciunt
            accusamus, pariatur dignissimos facilis, dolorem voluptatum. Voluptates dolores eos
            vitae quibusdam ut iusto consequuntur possimus nobis officia voluptas similique quisquam
            doloremque quam magnam facilis omnis obcaecati, quia neque nemo dolorem dolorum, eveniet
            incidunt. Eius culpa ipsa aspernatur.
          </p>
          <p class="fellesp">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero blanditiis laborum ad
            aliquam in tenetur dolore sint accusamus saepe autem cumque ex eum asperiores nihil,
            unde consectetur iure rem ut.
          </p>
        </div>
        <div>
          <h2>HVEM KAN VÆRE MED TIL GOSPEL?</h2>
          <img class="vector" src="/src/billeder/vectorsort.svg" alt="vector" />
          <p class="fellesp">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero blanditiis laborum ad
            aliquam in tenetur dolore sint accusamus saepe autem cumque ex eum asperiores nihil,
            unde consectetur iure rem ut. Eaque eos sunt atque, reiciendis ipsa qui nesciunt
            accusamus, pariatur dignissimos facilis, dolorem voluptatum. Voluptates dolores eos
            vitae quibusdam ut iusto consequuntur possimus nobis officia voluptas similique quisquam
            doloremque quam magnam facilis omnis obcaecati, quia neque nemo dolorem dolorum, eveniet
            incidunt. Eius culpa ipsa aspernatur.
          </p>
        </div>
      </div>
      <div class="billederullen">
        <div class="billederulle">
          <img src="/src/billeder/rulle1.png" alt="rulle1" />
          <img src="/src/billeder/rulle2.png" alt="rulle2" />
          <img src="/src/billeder/rulle3.png" alt="rulle3" />
          <img src="/src/billeder/rulle4.png" alt="rulle4" />
          <img src="/src/billeder/rulle5.png" alt="rulle5" />
          <img src="/src/billeder/rulle6.png" alt="rulle6" />
        </div>
      </div>
      <div class="odas">
        <h2>OVERVEJER DU AT STARTE?</h2>
        <img class="vector" src="/src/billeder/vectorsort.svg" alt="vector" />
        <p class="fellesp">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero blanditiis laborum ad
          aliquam in tenetur dolore sint accusamus saepe autem cumque ex eum asperiores nihil, unde
          consectetur iure rem ut. Eaque eos sunt atque, reiciendis ipsa qui nesciunt accusamus,
          pariatur dignissimos facilis, dolorem voluptatum. Voluptates dolores eos vitae quibusdam
          ut iusto consequuntur possimus nobis officia voluptas similique quisquam doloremque quam
          magnam facilis omnis obcaecati, quia neque nemo dolorem dolorum, eveniet incidunt. Eius
          culpa ipsa aspernatur.
        </p>
      </div>
      <div class="anbefalinger">
        <Anbefaling
          navn="Johanne Burkhave"
          alder="20 år"
          link="https://www.gospelnet.dk/artikler/gospel-giver-faellesskabsfoelelse/"
          anbimg="/src/billeder/anbefaling1.png"
          udtalelse="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero blanditiis laborum ad aliquam in tenetur dolore sint accusamus saepe autem cumque ex eum asperiores nihil, unde consectetur iure rem ut."
          overskrift="Gospel giver overskud til læsningen"
        />
        <Anbefaling
          navn="Johanne Burkhave"
          alder="20 år"
          link="https://www.gospelnet.dk/artikler/gospel-giver-faellesskabsfoelelse/"
          anbimg="/src/billeder/anbefaling2.png"
          udtalelse="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero blanditiis laborum ad aliquam in tenetur dolore sint accusamus saepe autem cumque ex eum asperiores nihil, unde consectetur iure rem ut."
          overskrift="Gospel giver overskud til læsningen"
        />
        <Anbefaling
          navn="Johanne Burkhave"
          alder="20 år"
          link="https://www.gospelnet.dk/artikler/gospel-giver-faellesskabsfoelelse/"
          anbimg="/src/billeder/anbefaling3.png"
          udtalelse="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero blanditiis laborum ad aliquam in tenetur dolore sint accusamus saepe autem cumque ex eum asperiores nihil, unde consectetur iure rem ut."
          overskrift="Gospel giver overskud til læsningen"
        />
        <Anbefaling
          navn="Johanne Burkhave"
          alder="20 år"
          link="https://www.gospelnet.dk/artikler/gospel-giver-faellesskabsfoelelse/"
          anbimg="/src/billeder/anbefaling4.png"
          udtalelse="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero blanditiis laborum ad aliquam in tenetur dolore sint accusamus saepe autem cumque ex eum asperiores nihil, unde consectetur iure rem ut."
          overskrift="Gospel giver overskud til læsningen"
        />
      </div>
      <div class="hero">
        <img src="/src/billeder/slutherofellesskab.png" alt="heroimg" />
      </div>
      <Footer />
    </main>
  </body>
</html>
