---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hold from '../components/Hold.astro';
import Tilmeld from '../components/Tilmeld.astro';
import '../styles/style.css';
import '../styles/index.css';
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gabarito:wght@400..900&display=swap"
      rel="stylesheet"
    />

    <title>Gospelnet.dk</title>
  </head>
  <body>
    <main>
      <Header />
      <div class="hero">
        <img src="/src/billeder/heroforside.png" alt="heroimg" />
      </div>
      <h1>GOSPELNET.DK</h1>
      <hr />
      <div class="gospelikbh">
        <img src="/src/billeder/forsidegospel.png" alt="billede1" />
        <div>
          <h2>GOSPELKOR I KØBENHAVN</h2>
          <p>
            Kom og syng med - på tirsdag eller på torsdag! Kom og syng med et par gange - helt
            uforpligtende og gratis - for at se om det er noget for dig. I korene fokuserer vi på
            energi, glæde, fortolkning og indlevelse. Det frigør en dybtliggende glæde og
            musikalitet som er helt unik. Du kan - helt gratis og uforpligtende - møde op til åbent
            hus. Her kan du få en smagsprøve på, hvordan det er at synge gospel hos os!
          </p>
          <a href="#her"> - Gå til tilmelding</a>
        </div>
      </div>
      <div class="hanscjafsnit">
        <img src="/src/billeder/hanscj.png" alt="hanscj" />
        <div>
          <p>
            Hans Christian Jochimsen er Danmarks gospelkoryfæ nummer ét og mestrer især én kunst;
            han åbner folks hjerter.
          </p>
          <p>
            Hans musik synges af kor over hele verden, og uge efter uge valfarter op mod tusind vidt
            forskellige mennesker til hans faste kor og workshops i København for at synge noget så
            udansk som gospel. Hans Christian siger selv, at han formidler livsglæde. Men den
            40-årige dirigent og komponist gør mere end det. I hans selskab fornemmer man
            instinktivt på hans energi og karisma, at det langtfra er et tilfælde, at han har opnået
            international anerkendelse som både dirigent og komponist.
          </p>
          <p>
            Han betegner selv sin undervisningsstil for mere gruppedynamisk- og psykologisk
            orienteret end musikalsk orienteret. For eksempel kan han sagtens finde på at kalde
            tenorgruppen op til sig på scenen til en ”time-out” – en slags peptalk fra ham selv til
            korets mænd, hvorefter han beder dem om at vende sig om og synge – foran alle de
            kvinder, der altid er markant i overtal.
          </p>
          <h3>HANS CHRISTIAN JOCHIMSEN</h3>
          <a href="https://www.gospelnet.dk/hans-christian-jochimsen/"
            >- Læs mere om Hans Christian Jochimsen
          </a>
        </div>
      </div>
      <h2>HOLDOVERSIGT</h2>
      <div class="holdene">
        <Hold
          holdnavn="THE GOSPEL CHOIR"
          linje1="Fredens Kirke"
          linje2="Ryesgade 68"
          linje3="2100 Kbh. Ø"
          logo="/src/billeder/thegospelchoirlogo.png"
          infohold="The Gospel Choir tilbyder 2 aften hold, og er åbent for alle. Du kan dukke op til hvilket passer dig bedst, der bliver nemlig sunget det samme på begge hold. Der er ingen optagelsesprøve. Du er meget velkommen til at besøge os et par gange, for at se om det er noget for dig. Koret er ledet af Hans Christian Jochimsen."
          holdbillede="/src/billeder/gosplechoirimg.png"
        />
        <Hold
          holdnavn="COPENHAGEN GOSPEL VOICES"
          linje1="The Gospel Fellowship"
          linje2="Frederiksberg Allé 9"
          linje3="1621 Kbh. V"
          logo="/src/billeder/copenhagengospelvoices.png"
          infohold="Copenhagen Gospel Voices tilbyder 2 aften hold, og er åbent for alle. Du kan dukke op til hvilket passer dig bedst, der bliver nemlig sunget det samme på begge hold. Der er ingen optagelsesprøve. Du er meget velkommen til at besøge os et par gange, for at se om det er noget for dig. Koret er ledet af Hans Christian Jochimsen."
          holdbillede="/src/billeder/copnhagengospelbillede.png"
        />
      </div>
      <h2>TILMELD</h2>
      <div class="tilmelding" id="her">
        <Tilmeld holdnr="Hold 1" tid="17:00-19:00" dag="TIRSDAG" holdnavn="(The Gospel Choir)" />
        <Tilmeld holdnr="Hold 2" tid="19:30-21:30" dag="TIRSDAG" holdnavn="(The Gospel Choir)" />
        <Tilmeld holdnr="Hold 1" tid="17:00-19:00" dag="TORSDAG" holdnavn="(Cph Gospel Voices)" />
        <Tilmeld holdnr="Hold 1" tid="17:00-19:00" dag="TORSDAG" holdnavn="(Cph Gospel Voices)" />
      </div>
      <div class="informationer">
        <div>
          <h2>OPTAGELSE OG TILMELDING</h2>
          <hr />
          <p>Der er ingen optagelseprøve - alle er velkommene!</p>
          <p>1. Find det kor og hold som passer dig bedst.</p>
          <p>2. Mød op - syng med - og se om det er noget for dig.</p>
          <p>3. Forhåndstilmelding er ikke nødvendig.</p>
          <h2>PRØVETIME</h2>
          <hr />
          <p>
            Kom og syng med et par gange - helt uforpligtende og gratis - for at se om det er noget
            for dig.
          </p>
        </div>
        <div>
          <h2>STUDERENDE, PENSIONIST OG FRIPLADS</h2>
          <hr />
          <p>
            Der har altid været rabat i mine kor for studerende og pensionister. Denne rabat udvides
            nu til også at gælde f.eks. arbejdsløse, mennesker på kontanthjælp eller i
            ressourceforløb… og andre med en lidt mindre økonomi. Jeg tilbyder friplads til dig som
            er presset HELT i bund, og som slet ikke har råd til at være med i et kor i efteråret!
            Hvis det er din situation, så send mig en mail, og beskriv kort hvorfor du har behov for
            en friplads
          </p>
        </div>
      </div>
      <Footer />
    </main>
    <script src="../styles/style.css"></script>
  </body>
</html>
