---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/style.css';
import '../styles/tilmeld.css';
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gabarito:wght@400..900&display=swap"
      rel="stylesheet"
    />

    <title>Tilmeld dig</title>
  </head>
  <body>
    <main>
      <Header />
      <h1>TILMELDING</h1>
      <hr />
      <p class="tilmeldinfo">
        Det er ikke et krav at tilmelde sig på forhånd. Det er en mulighed her inde på siden at
        søge, om et specifikt type medlemsskab. Hvis du er studrende el. pensionist er det netop
        muligt at få rabat, ved blot at skrive en mail til hans@gospelnet.dk, eller ved af
        formularen nedenfor. Det er også muligt at tilmelde sig ved det kommende gospelmøde.
      </p>
      <div class="gridtilmeld">
        <div>
          <div class="navnboks" contenteditable="true">
            <p>Navn</p>
          </div>
          <div class="emailboks" contenteditable="true"><p>e-mail</p></div>
          <div class="medlemsskab" contenteditable="true">
            <p>Medlemsskab</p>
            <img src="/public/billeder/dropdown.svg" alt="dropdown" />
          </div>
          <div class="besked" contenteditable="true"><p>Besked</p></div>
        </div>
        <div class="tekstboks">
          <p>
            Din tilmelding sendes og registreres af Hans Christian Jochimsen, når du trykker
            tilmeld. Ved næste møde får du tildelt et sanghæfte der er agerer som dit medlemsskab.
            Du kan bare dukke op så snart det passer dig! Hvis du har nogen spørgsmål, kan du også
            kontakte ham direkte på e-mail, hans@gospelnet.dk.
          </p>
        </div>
      </div>
      <div class="tilmeldknap">
        <p>Tilmeld</p>
      </div>
      <div class="hero">
        <img src="/public/billeder/tilmeldhero.png" alt="heroimg" />
      </div>
      <Footer />
    </main>
  </body>
</html>
