<article>
  <div class="footer">
    <h2>KONTAKT</h2>
    <img class="vector" src="/public/billeder/vectorsvg.svg" alt="streg" />
    <div class="footerindhold">
      <div class="facebook">
        <p>
          Mange informationer og oplysninger kan du også finde på facebook-siden "The Gospel Voices"
          og kan findes ved klik på iconet nedenfor.
        </p>
        <a href="https://www.facebook.com/groups/CopenhagenGospelVoices?locale=da_DK">
          <img class="facebookicon" src="/public/billeder/facebook.svg" alt="facebook" />
        </a>
      </div>
      <div class="kontakt">
        <div class="email">
          <img src="/billeder/email.svg" alt="email" />
          <p>hans@gospelnet.dk</p>
        </div>
        <div class="adresser">
          <img src="/billeder/adresse.svg" alt="adresse" />
          <a href="https://maps.app.goo.gl/QgQKQGu8chADEJsy7">
            <p>Fredens Kirke</p>
            <p>Ryesgade 68</p>
            <p>2100 Kbh. Ø</p>
          </a>
          <a href="https://maps.app.goo.gl/tirNpYDycMaL7Pg69">
            <p>The Gospel Fellowship</p>
            <p>Frederiksberg Allé 9</p>
            <p>1621 Kbh. V</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</article>

<style>
  .footer {
    background-image: url(/billeder/footerbaggrund.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
    margin-left:;
    padding-bottom: 50px;
  }

  .footer h2 {
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    font-family: 'Gabarito', sans-serif;
  }

  .facebookicon {
    width: 50px;
    height: 50px;
    margin-left: 20px;
  }

  .vector {
    width: 175px;
    margin-left: 30px;
  }

  .facebook {
    background-image: url('/billeder/footerboks.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    width: 250px;
    height: 300px;
    padding: 20px;
    color: white;
  }

  .facebook p {
    padding: 15px;
    font-family: 'Fira Sans', sans-serif;
    line-height: 22px;
    font-weight: 100;
  }

  .email img,
  .adresser img {
    width: 50px;
    height: 50px;
    margin-left: 45px;
  }

  .email p,
  .adresser p {
    color: white;
    padding-top: 10px;
    font-family: 'Gabarito', sans-serif;
    font-size: small;
  }

  .email {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* gap: 10px; */
  }

  .adresser {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /* gap: 10px; */
    margin-top: 30px;
  }

  .footer a {
    text-decoration: none;
  }

  @media screen and (min-width: 700px) {
    .footerindhold {
      display: flex;
    }

    .email p,
    .adresser p {
      padding-left: 20px;
    }

    .kontakt {
      padding-top: 30px;
    }
  }
</style>
